
{% extends "contol_estudios/base.html" %}

{% block contenido %}
<section>
 <div>
   <h1>Lista de estudiantes</h1>
   <a href="{% url 'crear_estudiante' %}">Crear estudiante</a>
   <br>
   <br><br>
        <form  action="{% url 'buscar_estudiante' %}" method="POST" >
            {% csrf_token %}
            <input type="text" name="busqueda">
            <input type="submit" value="Buscar por apellido">
        </form>
    <br><br>

   <table class="table">
     <tbody>
       <tr>
         <th>ID</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for alumno in object_list %}
       <tr>
         <td>{{ alumno.id }}</td>
         <td>{{ alumno.nombre }}</td>
         <td>{{ alumno.apellido }}</td>
         <td>
           <a href="{% url 'ver_estudiante' alumno.id %}">Ver</a>
         </td>
         <td>
           <a href="{% url 'editar_estudiante' alumno.id %}">Editar</a>
         </td>
         <td>
           <a href="{% url 'eliminar_estudiante' alumno.id %}">
             <i class="bi bi-trash"></i>
           </a>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

 </div>
</section>
{% endblock contenido %}


{% comment %} 
{% extends "contol_estudios/base.html"%}

{% block contenido %}
<section>
    <div>
        <h1> Lista de estudiantes </h1>
        <a href={% url 'crear_estudiante' %} > Crear estudiante </a>
        <br><br>
        <form  action="{% url 'buscar_estudiante' %}" method="POST" >
            {% csrf_token %}
            <input type="text" name="busqueda">
            <input type="submit" value="Buscar por apellido">
        </form>
        <br><br>
        <table class="table">
            <tbody>
            <tr>
            <th>Nombre</th>
            <th>Estudiante</th>
            </tr>
            {% for student in estudiantes %}
            <tr>
            <td>{{ student.apellido }}</td>
            <td>{{ student.nombre }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
</section> 
{% endblock contenido %} {% endcomment %}